Repository dietrichmax/mapproxy-docker, changes with the labels that .github/labeler.yml gives for each.
All labels: cli, build, conf, documentation

.github/labeler.yml:

cli:
  - ".github/**"

build:
  - "build/**"

conf:
  - "conf/**"

documentation:
  - "README.md"

docs(readme): updated UWSGI_PROCESSES and UWSGI_THREADS env variables
  README.md
Labels: documentation

docs(readme): updated UWSGI_PROCESSES and UWSGI_THREADS env variables
  README.md
Labels: documentation

healthcheck
  conf/nginx-default.conf
  docker/Dockerfile
Labels: conf

healthcheck
  build/health_check.py
  docker/Dockerfile
Labels: build

fix(cli): ssh root password via env
  docker/Dockerfile
Labels: none

fix(cli): ssh root password via env
  .github/workflows/docker_build.yml
Labels: cli

fix(cli): ssh root password via env
  docker/Dockerfile
Labels: none

fix(cli): ssh root password via env
  docker/Dockerfile
Labels: none

fix(cli): ssh root password via env
  docker/Dockerfile
Labels: none

Update Dockerfile
  docker/Dockerfile
Labels: none

Update docker_build.yml
  .github/workflows/docker_build.yml
Labels: cli

removed ssh server
  README.md
  conf/sshd_config
  docker/Dockerfile
Labels: conf, documentation

remove mentions of ssh
  README.md
Labels: documentation

chore(deps): update MapProxy from v3.1.3 to v4.0.2
  docker/Dockerfile
Labels: none

chore(ci): tag Docker images with GitHub release version
  .github/workflows/docker_build.yml
Labels: cli

updated version
  docker/Dockerfile
Labels: none

version update to 5.0.0
  docker/Dockerfile
Labels: none

added healthcheck
  docker/Dockerfile
Labels: none
